[
    {hecate_marthad, [
        {data_dir, "~/.hecate/hecate-marthad"}
    ]},

    {evoq, [
        {event_store_adapter, reckon_evoq_adapter},
        {store_id, martha_store},
        {consistency, eventual}
    ]},

    {kernel, [
        {logger_level, info},
        {logger, [
            {handler, default, logger_std_h, #{
                level => info,
                formatter => {logger_formatter, #{
                    template => [time, " [", level, "] ", msg, "\n"]
                }}
            }}
        ]}
    ]}
].
